#globalSearch {
	position : fixed;
}
#globalSearch > section {
	position : absolute;
	top : 44px;
	bottom : 0;
	width : 100%;
	overflow : hidden;
}
.globalSearch_header {
	height : 44px;
	width : 100%;
	border : 8px solid transparent;
	position : relative;
}
.globalSearch_header * {
	height : 100%;
}
.globalSearch_header > * > * {
	border : 0 none;
	background-color : transparent;
}
.globalSearch_header > nav {
	width : 32px;
}
.globalSearch_header > nav > button{
	width : 100%;
	padding : 7px 0;
	background : transparent url(../../../common/image/width12.png) no-repeat 9px -105px content-box content-box;
}
.globalSearch_header > aside {
	position : absolute;
	left : 32px;
	right : 0;
	background-color : #fff;
}
.globalSearch_header > aside > * {
	position : absolute;
}
.globalSearch_header input {
	padding-left : 15px;
	left : 0;
	right : 34px;
}
.globalSearch_header > aside > button {
	width : 34px;
	right : 0;
	padding : 6px 9px;
	background : transparent url(../../../common/image/width24.png) 0 -475px no-repeat content-box content-box;
}
.globalSearch_content dl > dt {
	height : 15px;
	line-height : 15px;
	text-indent : 5px;
}
.globalSearch_content .userAnchorList dl > dt {
	height : 20px;
}
.globalSearch_content .userAnchorList {
	background-color : #fff;
}
.globalSearch_content .userAnchorList > ul {
	border : 0 none;
}
.globalSearch_content > ul > li:not(:last-child) {
	border : 0 none;
}
.globalSearch_content > ul > li {
	display : none;
}
#globalSearch .userAnchorList dt {
	text-indent : 0;
}


#account {
	padding : 10px;
}
#account > * {
	margin-bottom : 5px;
	background-color : #fff;
}
#account dl {
	height : 45px;
	line-height : 45px;
	position : relative;
}
#account dl > * {
	height : 100%;
	font-size : 14px;
}
#account dl > dt {
	width : 80px;
	text-align : right;
}
#account dl > dd {
	position : absolute;
	left : 85px;
	right : 5px;
	top : 0;
}
#account li:last-child > dl {
	border : 0 none;
}
#account input {
	height : 100%;
	width : 100%;
	border : 0 none;
	overflow : hidden;
	text-overflow : ellipsis;
	background-color : transparent;
}
#account input:not([readonly]) {
	color : inherit;
}
#account input[readonly] {
	background-color : transparent;
}
#account > header > figure {
	position : relative;
	height : 90px;
}
#account > header aside, #account > header ul {
	position : absolute;
}
#account > header aside {
	left : 0;
	width : 62px;
	height : 62px;
	padding : 14px 11px;
	box-sizing : content-box;
	border-top : 0 none;
	border-left : 0 none;
	border-bottom : 0 none;
}
#account > header ul {
	left : 85px;
	right : 0;
	height : 100%;
}
#account > header dt {
	width : 55px;
}
#account > header dd {
	left : 60px;
}
#account > footer, #account > footer > ul {
	display : none;
}
#account > footer > nav {
	height : 24px;
	box-sizing : content-box;
}
#account > footer:not(.editable) > nav {
	border : 0 none;
}
#account > footer.editable > nav {
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
}
#account > footer button {
	width : 100%;
	height : 100%;
	background-color : transparent;
	border : 0 none;
}
#account > footer.editable > ul {
	display : block;
	border-top-left-radius : 0;
	overflow : hidden;
	-webkit-animation : editPassword steps(14) 500ms 1;
}
@-webkit-keyframes editPassword {
	from {
		height : 0;
	}
	to {
		height : 137px;
	}
}
#titleBar button[action="editAccount"] {
	border : 1px solid #39a85a;
	border-width : 6px 5px;
	background : #39a85a url(../../../common/image/width24.png) 1px -425px no-repeat;
	background-clip : content-box;
}
#titleBar button[action="submit account"] {
	background-color : #ce312d;
}

#aboutBaoPiQi, #QRCode {
	top : 45%;
}
#aboutBaoPiQi {
	height : 395px;
	margin-top : -160px;
}
#aboutBaoPiQi > * {
	margin : 0 auto;
}
#aboutBaoPiQi > header {
	height : 140px;
	width : 105px;
}
#aboutBaoPiQi > header p {
	width : 105px;
	height : 105px;
	margin : 0 auto;
	overflow : hidden;
}
#aboutBaoPiQi > header img {
	width : 100%;
	height : 100%;
}
#aboutBaoPiQi > header figcaption {
	margin-top : 20px;
	height : 15px;
	font-size : 15px;
	line-height : 1em;
	color : #ab2424;
	text-align : center;
}
#aboutBaoPiQi > section {
	background-color : #f1f1f1;
	width : 165px;
	height : 120px;
	margin-top : 15px;
	padding : 15px;
}
#aboutBaoPiQi > section * {
	display : block;
}
#aboutBaoPiQi > section > button {
	width : 100%;
	height : 38px;
	line-height : 38px;
	border : 0 none;
	background-color : #ce312d;
	border-radius : inherit;
}
#aboutBaoPiQi > section > button:last-child {
	margin-top : 14px;
}
#aboutBaoPiQi > section a {
	width : 100%;
	height : 100%;
}
#aboutBaoPiQi > footer {
	margin-top : 45px;
	text-align : center;
}
#aboutBaoPiQi nav > * {
	display : inline-block;
}
#aboutBaoPiQi > footer a:first-child {
	color : #ab2424;
	margin-bottom : 20px;
}

#QRCode {
	height : 265px;
	margin-top : -132px;
}
#QRCode > * {
	margin : 0 auto;
}
#QRCode > header {
	width : 210px;
}
#QRCode > header > figure {
	height : 30px;
	line-height : 30px;
	width : 100%;
}
#QRCode > header .largeAvatarPanel {
	border-color : #bf2525;
	position : relative;
	top : -16px;
	z-index : 2;
}
#QRCode > header figcaption {
	width : 152px;
	height : 100%;
	background-color : #ce312d;
	font-size : 15px;
	margin-left : -5px;
	text-indent : 25px;
	border-top-left-radius : 0;
	border-bottom-left-radius : 0;
}
#QRCode > section {
	width : 250px;
	height : 240px;
	padding : 25px 30px;
	border : 1px solid #ce312d;
	margin-top : -5px;
	background-color : #fff;
}
#QRCode > section > img {
	width : 100%;
	height : 100%;
}

#toDo {
	bottom : 42px;
}
.toDo_header {
	padding : 10px 10px 0 10px;
}
.toDo_header > dl{
	padding : 5px 10px;
}
.toDo_header dt {
	height : 30px;
	padding : 4px;
}
.toDo_header dt > button {
	height : 22px;
	width : 34px;
	padding : 3px 9px;
	border : 1px solid #fff;
	background : transparent url(../../../common/image/width24.png) 0 -800px no-repeat content-box content-box;
}
.toDo_header dt > span {
	margin-left : 8px;
	font-size : 15px;
	line-height : 22px;
}
.toDo_header dd {
	margin-top : 10px;
}
.toDo_header dd > figure {
	text-align : right;
}
.toDo_header dd p {
	padding : 0 8px;
	text-align : left;
}
.toDo_header dd aside {
	margin-top : 20px;
	display : inline-block;
	padding : 5px;
}
.toDo_header dd aside:empty {
	display : none;
}
#toDo > section {
	padding-bottom : 10px;
}
#toDo > section > figure {
	padding : 0 10px;
}

#sendToDo {
	padding : 0 10px;
}
#sendToDo > header {
	padding : 10px 0;
	text-align : center;
}
#sendToDo > header > p {
	background-color : #fff;
}
#sendToDo > header > aside {
	height : 34px;
	width : 125px;
	border : 1px solid #f1af10;
	padding : 3px;
	position : relative;
	top : 14px;
	left : -8px;
	z-index : -1;
}
#sendToDo > header span {
	display : block;
	background-color : #f1af10;
	width : 100%;
	height : 26px;
	line-height : 26px;
	font-size : 15px;
}
#sendToDo > section {
	margin-bottom : 5px;
	overflow : hidden;
	font-size : 14px;
}
#sendToDo > section input, #sendToDo > section textarea, #sendToDo > section > span {
	display : block;
	height : 42px;
	width : 100%;
	padding : 10px 15px;
	border : 0 none;
}
#sendToDo > section input[type="date"] {
	margin-top : -42px;
	opacity : 0;
}
#sendToDo > section > span {
	background-color : #fff;
}
#sendToDo > section[desc="remind"] {
	position : relative;
}
#sendToDo > section > button {
	width : 58px;
	height : 24px;
	background-color : #d29500;
	position : absolute;
	top : 9px;
	right : 5px;
	border : 1px solid transparent;
}
#sendToDo button > span {
	float : right;
	height : 22px;
	width : 22px;
	border-radius : 22px;
	background-color : #fff;
	opacity : 0.7;
}
#sendToDo button > span.reminded {
	float : left;
	opacity : 1;
}
#sendToDo > section textarea {
	min-height : 140px;
	max-height : 140px;
}
#titleBar button[action="sendToDoCompleted"] {
	background-color : #f1af10;
	background : #f1af10 url(../../../common/image/width24.png) 7px -118px no-repeat;
}

#workStream li > figure {
	
}
